
.githubCalendarBlock {
  width: 15px;
  height: 15px;
  position: relative;
  border: 1px solid #ebedf0;
  border-radius: 2px solid #1b1f230f;
}

.githubCalendarBlock.grey {
  background-color: #ebedf0;
}
.githubCalendarBlock.lightgreen {
  background-color: #9ce9a8;
}
.githubCalendarBlock.green {
  background-color: #41c464;
}
.githubCalendarBlock.darkgreen {
  background-color: #31a14e;
}
.githubCalendarBlock.darkestgreen {
  background-color: #226e3a;
}

.githubCalendarBlock:hover::before {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 1;
}
